
* {
    box-sizing: border-box;
}

body {
    background: #ced7e5;
    background-image: url("/images/one.jpg");
    padding: 3vw;
    background-size: cover;
}

h1, h1:first-of-type + h2 {
    margin: 0;
    float: left;
    clear: both;
    color: white;
}

header h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8vh;
}


header h2 {
    font-family: 'Satisfy', cursive;
}



#careers-container {
    clear: both;
    background-color: #e4edf4;
    font-family: 'Spectral', serif;
    padding: 4vw;
    margin: 0 auto;

}

.job-container {
    background-color: #5b5f7a;
    color: white;
    padding: 5vw;
    font-size: .7em;
    border: solid white 10px;
}

.job-container article a {    
    color: white;
    background-color: #bed470;
    border: solid white 5px;
    height: 3em;
    width: 3em;
    text-decoration: none;
    padding: 5px;
}




@media only screen and (min-width: 768px)
{                
    .job-container {
        font-size: 1em;
        width: 50vw;
        margin: 0 auto;
    }
}
