
[data-target] {
    display: none;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


footer {
    font-family: 'Spectral', serif;
    font-size: .5em;
    float: left;
    clear: both;
    text-overflow: auto;
    background: gray;
    padding: 2vw;
    color: white;
    width: 100%;
}

#footer-logo {
    height: 5vh;
    padding-right: 10px;
    float: left;
}

.toggle .bar {
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 5px;
}

nav, .toggle button, .links, nav h1 {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    outline: none;
}

.links {
    text-align: right;
}
nav h1 {
    font-family: 'Fjalla One', sans-serif;
    padding: 8px 16px 8px 0;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#company-footer {
    background-color: darkgray;
    color: white;
    font-size: .75rem;
    font-family: 'Khula', sans-serif;
    padding: 10px;
    margin-top: 10px;
}

