/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/*end reset*/

body {
    background-image: url("/images/one-small.jpg");
    background-size: cover;
    padding: 5%;
}

#container {
    padding: 5%;
    background-color: #e4edf4;
    max-width: 500px;
}

p {
    font-family: 'Khula', sans-serif;
    font-size: 2vh;
    margin-top: 2vh;
}

#intro {
    font-family: 'Satisfy', cursive;
    font-size: 4vh;
    margin-bottom: 1vh;
}

h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: 8vh;
}

label h2 {
    font-family: 'Khula', sans-serif;
    margin-top: 2vh;
}

input[type="search"] {
    width: 100%;
    margin: 2vh 0;
    padding: 1vh;
}

input[type="submit"] {
    margin-bottom: 2vh;
    color: #2a4d7f;
    font-family: 'Khula', sans-serif;
    padding-top: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgba(255,255,255, .5);
    border-style: none;
    border: #2a4d7f solid 2px;
}


nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.items a {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    color: #2a4d7f;
    font-size: 2vh;

}


/*
body {
    background-image: url("/images/one-small.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    width: 90%;
    box-sizing: border-box;
    margin: 5vh auto;
    min-height: 90vh;
    display: block;
    overflow: auto;
    background-color: #e4edf4;
    padding: 5vh;
}            

#heading {
    float: left;
    clear: both;
    margin: 3vh auto;
}

#intro {
    float: left;
    clear: both;
    font-family: 'Satisfy', cursive;
    font-size: 4vh;
}

h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: 8vh;
    float: left;
    clear: both;
}

p {
    font-family: 'Khula', sans-serif;
    font-size: 2vh;
    float: left;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}


nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    margin-top: 3vh;
}

.items {
    flex: 1;
    text-align: center;
    font-family: 'Khula', sans-serif;
    height: 3vh;
    line-height: 3vh;
}

.items a {
    text-decoration: none;
    font-family: 'Satisfy', cursive;
}

img#footer-logo {
    height: 5vh;
    padding-right: 10px;
    float: left;
}

#form {
    clear: both;
}

#form input[type="submit"] {
    color: white;
    background-color: #bed470;
    border: solid white .3rem;
    text-decoration: none;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    width: 70%;
    padding: 5px;
}

#form input {
    width: 100%;
    padding: 10px;
}

@media only screen and (min-width : 768px){
    #container {
        width: 40vw;
        position: absolute;
        left: 8vw;
    }
    
    body {
        background-image: url("/images/one.jpg");
    }
    
    nav {
        flex: 1;
        flex-direction: row;
    }
}*/