footer {
    font-family: 'Spectral', serif;
    font-size: .5em;
    float: left;
    clear: both;
    text-overflow: auto;
    background: gray;
    padding: 2vw;
    color: white;
}

#form>label, #form>input {
    font-family: 'Khula', sans-serif;
    font-size: 3vh;
    clear: both;
    float: left;
}

#form>input[type="text"] {
    width: 100%;
    height: 5vh;
    background: white;
    border: solid white 10px;
    box-sizing: border-box;
    padding: 1em;
    font-size: 2.5vh;
}

#form>input[type="submit"] {
    color: white;
    background-color: #bed470;
    border: solid white 5px;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-group {
    font-family: 'Spectral', serif;
    width: 80%;
    padding: 10px;
}

.form-control {
    float: right;
    clear: right;
}

#message {
    background-color: #bed470;
    float: left;
    margin: 0 auto;
    clear: both;
    height: 5vh;
}

/*large screen*/
@media only screen and (min-width: 768px )
{
    footer {
        font-size: .7em;
    }
}

button {
    
}
