/* headlines font-family: 'Fjalla One', sans-serif;
 p font-family: 'Khula', sans-serif;

*/

.links a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
}

.listing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.listing-image {
    display: block;
    width: 100%;
}

a.more-images, a.details, a.contact-agent, .price, .address, .bed-bath, .square-feet {
    text-decoration: none;
    padding: 10px 5px 5px 5px;
}

a.details {
    color: red;
    border: solid red 2px;
}

a.contact-agent {
    color: white;
    background-color: red;
    border: solid red 2px;
}

.main-image {
    position: relative;
}
a.more-images {
    z-index: 5;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    padding-bottom: 10px;
    color: white;
    border: solid white 2px;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.pagination li {
    font-family: 'Khula', sans-serif;
    background-color: #090cba;
}

.pagination li:last-child {
    padding: 10px 5px 6px 8px;
    border-radius: 0 10px;
    margin-bottom: 10px;
}

.pagination li:first-child {    
    padding: 10px 5px 6px 8px;
    border-radius: 10px 0px;
    margin-bottom: 10px;
}

.pagination a {
    text-decoration: none;
    color: white;
}

.pagination li:last-child a:before {
    content: "next ";
}

.pagination li:first-child a:after {
    content: " previous";
}

.disabled {
    color: gray;
    display: none;
}

#filter, h2 {
    font-family: 'Khula', sans-serif; 
    padding: 10px;
    background-color: #e4edf4;
}

#filter input {
    border: none;
    margin-top: 1px;
}

#filter label {
    margin-top: 15px;
    font-weight: bold;
}

#filter input[type=submit] {
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}

h2 {
    color: black;
    font-weight: bold;
}

.summary, .details, .contact-agent {
    font-family: 'Khula', sans-serif;
}

.price {
    color: white;
    font-weight: bold;
    background-color: #090cba;
}

.address, .bed-bath {
    border-bottom: solid lightgray;
}

.bed-bath {

}

.square-feet {

}

.details {

}

.contact-agent {
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

/*tablets*/
@media only screen and (min-device-width: 768px)
{
    .button-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        padding: 2vw 0;
    }

    .contact-agent, .details {
        margin-bottom: 0;
        width: 20vw;
        text-align: center;
    }

    .square-feet {
        border-bottom: solid lightgray;
    }
}