
* {
    box-sizing: border-box;;
}

body {
    background-color: #e4edf4;
    padding: 3vw;
    border: solid white 3px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    clear: both;
    overflow: auto;
}

.listing-container {
    float: left;
    clear: both;
    width: 100%;
}

.property-container {
    background-color: #FFF;
    border: solid;
    border-color: #C5C7F6;
}

h1, h1:first-of-type + h2 {
    margin: 0;
    float: left;
    clear: both;
    color: #5d84e5;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8vh;
}


.property-container img {
    display: block;
    width: 20%;
    float: left;
    padding: 10px;
}

.details {
}

.price, .beds, .address, footer p {
    font-family: 'Khula', sans-serif;
    color: white;
}

.price, .beds, .address {
    color: #070D86;
    display: block;
    float: left;
}

h1:first-of-type + h2 {
    font-family: 'Khula', sans-serif;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    font-color: red;
    float: left;
    clear: right;
}

.beds {
    float: left;
}

@media only screen and (min-width: 768px)
{                
    body {
        position: relative;
        background-size: 100vw;
        background-repeat: repeat-y;
    }
    
    header {
        position: relative;
        width: 20vw;
        float: left;
        clear: left;

    } 
    
    .property-container {
        width: 40%;  
        float: left;
    }

    .listing-container {
        float: right;
        clear: right;
        width: 70vw;
    }
}
