
* {
    box-sizing: border-box;;
}

body {
    background: gray;
    background-image: url("/images/one-small.jpg");
    padding: 3vw;
    border: solid white 3px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    clear: both;
    overflow: auto;
}

.listing-container {
    float: left;
    clear: both;
    width: 100%;
}

h1, h1:first-of-type + h2 {
    margin: 0;
    float: left;
    clear: both;
    color: white;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8vh;
}


.property-container img {
    width: 100%;
}

.details {
    background-color: rgba(0,0,0,.5);
}

.price, .beds, .address, h1:first-of-type + h2, footer p {
    font-family: 'Khula', sans-serif;
    color: white;
}

@media only screen and (min-width: 768px)
{                
    body {
        background-image: url("/images/one.jpg");
        position: relative;
        background-size: 100vw;
        background-repeat: repeat-y;
    }
    
    header {
        position: relative;
        width: 20vw;
        float: left;
        clear: left;

    } 
    
    .property-container {
        width: 40%;  
        float: left;
    }

    .listing-container {
        float: right;
        clear: right;
        width: 70vw;
    }
}
